<br/>
<h5>Pantalla de Usuario</h5><br/><br/>

<form class="sign"> 

<div class="form-row">
	<div class="form-group col-md-1">
		<label for="id">Id</label>
		<input type="text" [(ngModel)]="usuario.id" class="form-control" id="id" readonly="true" name="id" autocomplete="false">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md-10">
		<label for="nombre">Name</label>
		<input type="text" [(ngModel)]="usuario.nombre"class="form-control" id="nombre" name="nombre" required="true" autocomplete="false">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md-5">
		<label for="login">E-mail</label>
		<input type="text"  [(ngModel)]="usuario.login" class="form-control" id="login" name="login" required="true" autocomplete="false">
	</div>

	<div class="form-group col-md-5">
		<label for="password">Password</label>
		<input type="password" [(ngModel)]="usuario.password"class="form-control" id="password" name="password" required="true" autocomplete="false">
	</div>

	<div class="form-group col-md-5">
		<button type="button" class="btn btn-secondary" [routerLink]="['/usuarioList']" routerLinkActive="router-link-active" >Back</button>
		<button type="button" class="btn btn-primary" (click)="new()" style="margin-left: 10px;">New</button>
		<button type="button" class="btn btn-success" (click)="salvarUser()"  style="margin-left: 10px;">Save</button>

	</div>
</div>

</form>

